.mainnav {
    margin: 30px 0 0 10px;
    ul {
        text-align: left;
        display: table;
        padding:0;
        @include respond-below(lg){
            width: 100%;
        }  
    }

    li {
        display: table-cell;
        margin: 0;
    }
    a {
        @extend %primary-thin-font-specs;
        @include hover-link();
        display: inline-flex;
        align-items: center;
        margin-right: 30px;

        &:before{
            display: flex;
            align-items: center;
        
        }
    }
  }

  .mainnav__label{
  
    @include respond-between(sm, md){
      max-width: 72px;
    }
    word-wrap: break-word;
    display: block;
  }
